.DS_Store
UCLA-CS133/cs-133-22-2
.vscode/
*prog1_mandelbrot_threads/mandelbrot
prog*/*.ppm
*prog1_mandelbrot_threads/output*
*/objs/
*.o
prog*/*.log

*prog2_vecintrin/myexp
*prog3_mandelbrot_ispc/mandelbrot_ispc
*prog4_sqrt/sqrt
*prog5_saxpy/saxpy
*prog6_kmeans/kmeans
*prog6_kmeans/data.dat
*prog6_kmeans/start.png
*prog6_kmeans/end.png
*prog6_kmeans/*.log
